.DS_Store
Directors-league/Directors-league-data.csv
Directors-league/Directors-league-data-X.csv
Directors-league/Directors-league-data-other.csv
Actors-league/Actors-league-data.csv
Actors-league/Actors-league-data-X.csv
Actors-league/Actors-league-data-other.csv

